<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd"
       xmlns:context="http://www.springframework.org/schema/context">


    <context:annotation-config/>
    <context:component-scan base-package="com.server" />
    <!--<bean id="dataSource"-->
             <!--class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
              <!--<property name="driverClassName" value="org.postgresql.Driver" />-->
              <!--<property name="url" value="jdbc:postgresql://localhost:5432/timers_db" />-->
              <!--<property name="username" value="postgres" />-->
              <!--<property name="password" value="postgres" />-->
       <!--</bean>-->

       <!--<bean id="sessionFactory"-->
             <!--class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">-->
              <!--<property name="dataSource" ref="dataSource"/>-->
              <!--&lt;!&ndash;<property name="configLocation" value="classpath:/../resources/hibernate/hibernate.cfg.xml"/>&ndash;&gt;-->
       <!--</bean>-->

       <!--<bean id="clientSessionDao" class="com.server.dao.ClientSessionHibernateDaoImpl">-->
              <!--<property name="sessionFactory" ref="sessionFactory"/>-->
       <!--</bean>-->
       <!--<bean id="clientSessionService" class="com.server.ClientSessionServiceImpl">-->
              <!--<property name="clientSessionDao" ref="clientSessionDao"/>-->
       <!--</bean>-->
</beans>